<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Приложение за въвеждане на условия за бонуси</h1>

<a href="{% url 'bonus_report' %}">Към бонус отчета</a>

<hr>

<h2> Добави на доставчик и стойност за % бонус</h2>

<form method="post">
    {% csrf_token %}
    {{ condition_form.as_p }}
    <button type="submit" name="add_condition">
        Запиши доставчик
    </button>
</form>

<hr>

<h2>Добави на ЕИК на доставчик и стойност на покупката</h2>

<form method="post">
    {% csrf_token %}
    {{ purchasing_form.as_p }}
    <button type="submit" name="add_purchase">
        Запиши покупка
    </button>
</form>

</body>
</html>