{% extends "base.html" %}

{% block title %}
Импорт на Excel файл
{% endblock %}

{% block header %}
Импорт на Excel файл
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

<div class="form-box" style="max-width:450px;">

    {% if messages %}
    {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Upload
        </button>
    </form>

</div>

{% endblock %}
