<table>
    <thead>
        <tr>
            <th>ЕИК</th>
            <th>Доставчик</th>
            <th>Процент бонус</th>
            <th>Обща сума покупки</th>
            <th>Бонус</th>
        </tr>
    </thead>
    <tbody>
        {% for row in report %}
        <tr>
            <td>{{ row.eik }}</td>
            <td>{{ row.supplier_name }}</td>
            <td>{{ row.percent_condition }} %</td>
            <td>{{ row.total_amount }}</td>
            <td>{{ row.bonus }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Няма данни</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
