{% extends "base.html" %}

{% block title %}
Бонус отчет
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspercent:index' %}"><- % Бонус меню</a>
{% endblock %}

{% block header %}
Отчет по покупни бонуси
{% endblock %}

{% block content %}

<div class="table-container">

    <table>
        <thead>
            <tr>
                <th>ЕИК</th>
                <th>Доставчик</th>
                <th>Процент бонус</th>
                <th>Обща сума покупки</th>
                <th>Бонус</th>
            </tr>
        </thead>

        <tbody>
        {% for row in report %}
            <tr>
                <td>{{ row.eik }}</td>
                <td>{{ row.supplier_name }}</td>
                <td style="text-align:right;">
                    {{ row.percent_condition|floatformat:2 }} %
                </td>
                <td style="text-align:right;">
                    {{ row.total_amount|floatformat:2 }}
                </td>
                <td style="text-align:right;">
                    {{ row.bonus|floatformat:2 }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" style="text-align:center; padding:20px;">
                    Няма данни
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}
