{% extends "base.html" %}

{% block title %}
Редакция на доставчик
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspercent:index' %}"><- % Бонус меню</a>
    <a href="{% url 'bonuspercent:supplier_list_sorted' %}">Списък доставчици</a>
{% endblock %}

{% block header %}
Редакция на доставчик
{% endblock %}

{% block content %}

<div class="form-box" style="max-width:550px;">

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            Запази промените
        </button>

        <a href="{% url 'bonuspercent:supplier_list_sorted' %}"
           style="margin-left:20px;">
            Отказ
        </a>
    </form>

</div>

{% endblock %}
