{% extends "base.html" %}

{% block title %}
Потвърди изтриване
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspercent:index' %}"><- % Бонус меню</a>
    <a href="{% url 'bonuspercent:supplier_list_sorted' %}">Списък доставчици</a>
{% endblock %}

{% block header %}
Потвърждение за изтриване
{% endblock %}

{% block content %}

<div class="form-box" style="max-width:550px;">

    <p style="margin-bottom:15px;">
        Сигурни ли сте, че искате да изтриете този доставчик?
    </p>

    <p>
        <strong>ЕИК:</strong> {{ supplier.eik }} <br>
        <strong>Име:</strong> {{ supplier.supplier_name }} <br>
        <strong>% бонус:</strong> {{ supplier.percent_condition|floatformat:2 }} %
    </p>

    <form method="post" style="margin-top:20px;">
        {% csrf_token %}

        <button type="submit">
            Да, изтрий
        </button>

        <a href="{% url 'bonuspercent:supplier_list_sorted' %}"
           style="margin-left:20px;">
            Отказ
        </a>
    </form>

</div>

{% endblock %}
