<table>
    <thead>
        <tr>
            <th>Продукт</th>
            <th>Име на рподукт</th>
            <th>Покупна цена</th>
            <th>Процент промо отстъпка</th>
            <th>Общо продадено количество</th>
            <th>Промо бонус</th>
        </tr>
    </thead>
    <tbody>
        {% for row in report %}
        <tr>
            <td>{{ row.product_id }}</td>
            <td>{{ row.product_name }}</td>
            <td>{{ row.purchasing_price }} %</td>
            <td>{{ row.percent_discount }}</td>
            <td>{{ row.total_qty }}</td>
            <td>{{ row.promo_bonus }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Няма данни</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
