
{% extends "base.html" %}

{% block title %}
Промоционални отстъпки
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspromo:promo_report' %}">Към отчета</a>
    <a href="{% url 'bonuspromo:promo_list' %}">Списък  и редакция на промо условия</a>
    <a href="{% url 'bonuspromo:sales_list' %}">Списък и редакция на продадени количества</a>
{% endblock %}

{% block header %}
Въвеждане, редакция на отстъпка за промоционални продажби и отчет
{% endblock %}

{% block content %}

<h2>Добави продукт, покупна цена и % промо отстъпка</h2>

<div class="form-box">
    <form method="post">
        {% csrf_token %}
        {{ condition_promo_form.as_p }}
        <button type="submit" name="add_promo_condition">
            Запис на промо продукт
        </button>
    </form>
</div>

<hr>

<h2>Добави продукт и продадено количество</h2>

<div class="form-box">
    <form method="post">
        {% csrf_token %}
        {{ sales_form.as_p }}
        <button type="submit" name="add_sold_qty">
            Запис на продадено количество
        </button>
    </form>
</div>

{% endblock %}
