<style>
    table {
        border-collapse: collapse;
        width: 50%;
        background-color: #ffffff;
        font-family: Calibri, sans-serif;
        margin-top: 10px;
    }

    thead {
        background-color: #9ec9ef;
        color: #003366;
    }

    th {
        padding: 6px;
        text-align: left;
        border: 1px solid #7fb6e6;
    }

    td {
        padding: 2px;
        border: 1px solid #c5ddf3;
    }

    tbody tr:nth-child(even) {
        background-color: #eef6fd;
    }

    tbody tr:hover {
        background-color: #d6e9fa;
    }

    .number {
        text-align: right;
    }
</style>


<body>

<a href="{% url 'bonuspromo:index' %}">← Обратно към промо менюто</a>


<h2>Редакция на промо условие</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Запази</button>
</form>
