{% extends "base.html" %}

{% block title %}
Редакция на промо условие
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspromo:index' %}"><- Промо меню</a>
    <a href="{% url 'bonuspromo:promo_list' %}">Списък промо условия</a>
{% endblock %}

{% block header %}
Редакция на промо условие
{% endblock %}

{% block content %}

<div class="form-box">

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            Запази
        </button>
    </form>

</div>

{% endblock %}
