{% extends "base.html" %}

{% block title %}
Изтриване на промо условие
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspromo:index' %}"><- Промо меню</a>
    <a href="{% url 'bonuspromo:promo_list' %}">Списък промо условия</a>
{% endblock %}

{% block header %}
Потвърждение за изтриване
{% endblock %}

{% block content %}

<div class="form-box">

    <p>
        Сигурни ли сте, че искате да изтриете:
    </p>

    <p>
        <strong>{{ promo.product_name }}</strong>
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Да, изтрий</button>
    </form>

</div>

<br>

<a href="{% url 'bonuspromo:promo_list' %}">← Отказ</a>

{% endblock %}
