{% extends "base.html" %}

{% block title %}
Списък продажби
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspromo:index' %}"><-Промо меню</a>
    <a href="{% url 'bonuspromo:promo_report' %}">Към отчета</a>
{% endblock %}

{% block header %}
Списък продадени количества
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="table-container">

    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Име на продукт</th>
                <th>% Отстъпка</th>
                <th>Количество</th>
                <th>Редакция</th>
                <th>Изтриване</th>
            </tr>
        </thead>

        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.product_id.product_id }}</td>
                <td>{{ sale.product_id.product_name }}</td>
                <td>{{ sale.product_id.percent_discount }}%</td>
                <td>{{ sale.sold_qty }}</td>

                <td>
                    <a class="action-link"
                       href="{% url 'bonuspromo:sales_qty_edit' sale.pk %}">
                        ✏ Редакция
                    </a>
                </td>

                <td>
                    <a class="action-link"
                       href="{% url 'bonuspromo:sales_qty_delete' sale.pk %}">
                        🗑 Изтриване
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Няма въведени продажби.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
