{% extends "base.html" %}

{% block title %}
Редакция на продажба
{% endblock %}

{% block navigation %}
    <a href="{% url 'bonuspromo:index' %}"><- Промо меню</a>
    <a href="{% url 'bonuspromo:sales_list' %}">Списък продажби</a>
{% endblock %}

{% block header %}
Редакция на продадено количество
{% endblock %}

{% block content %}

<div class="form-box" style="max-width:600px;">

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Запази
        </button>

        <a href="{% url 'bonuspromo:sales_list' %}"
           style="margin-left:20px;">
            Отказ
        </a>
    </form>

</div>

{% endblock %}
