<!DOCTYPE html>
<html>
<head>
    <title>Bonus Report</title>
</head>
<body>

<h2>Bonus report</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>EIK</th>
        <th>Supplier name</th>
        <th>Condition type</th>
        <th>Percent condition</th>
        <th>Purchasing amount</th>
        <th>Bonus amount</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.condition.EIK }}</td>
        <td>{{ row.condition.supplier_name }}</td>
        <td>{{ row.condition.condition_type }}</td>
        <td>{{ row.condition.percent_condition }}</td>
        <td>{{ row.purchasing_amount }}</td>
        <td>{{ row.bonus_amount }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">Няма данни</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>